@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');



/*Bouton*/
.btn-primary{
    background-color:#FFFFFF ;
    color: black;
    border-color: black ;

}
.btn-primary:hover{
    background-color:#7a5989 ;
    color: #FFFFFF;
    border-color: black ;
}
.btn-primary:focus{
    background-color:#7a5989 ;
    color: #FFFFFF;
    border-color: black;
}
.btn-primary:disabled{
    background-color:#7a5989 ;
    border-color:#583968;
}

.btn-outline-success:hover{
    background-color:#7a5989 ;
    color: #FFFFFF;
    border-color:#583968;
}
.btn-outline-success{
    background-color:#FFFFFF ;
    color: black;
    border-color:#583968;
}

.btn-danger{
    background-color: #34223D;
    color: white;
}
.btn-danger:hover{
    background-color: #FFFFFF;
    color: black;
    border-color: #7a5989;
}
.btn-detail{
    width: 50%;
    margin: 0 auto;
}

h1,h2,h3,h4,h5{
    font-family: 'Courgette', cursive;
}

h1,h2,h3,h4,h5{
    font-family: 'Courgette', cursive;
}

/* CONNECTION */
.login-form{
    width: 30%;
    margin: 5rem auto;
}
.block-rememberMe{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.forgot_pass{
    font-size: 0.7rem;
}
.groot{
    display: block;
    margin: 0 auto;
    max-width: 400px;
}

.logo{
    margin: 1rem 0;
    width: 20%;
}

/* INSCRIPTION */
.row-form-btn{
    margin: 3rem auto;
}
.row-form input{
    margin-bottom: 1.3rem;
}
.inscription-form{
    width: 80%;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5rem;
}
.span-conf{
    float: right;
}
.message-alert{
    width: 50%;
    text-align: center;
    margin: 2rem auto;
}

.signup-subtitle{
    font-family: "Roboto Thin";
    font-style: italic;
    font-size: 0.9rem;
    text-align: left;
    margin-left: 20rem;
    margin-top: 2rem;
}

/* PROFIL */
.profil-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 40%;
}
.credit-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 40%;
    margin: 0 auto;
}
.profil-info-user, .credit-user{
    text-align: right;
}
.btn-modif{
    margin-top: 5rem;
    text-align: center;
    display: block;
}
.btn-supprimer{
    display: block;
    text-align: center;
}
.section-inscription-form{
    width: 70%;
    display: block;
}

/* ENCHERE LOG */
.enchere-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: 2rem auto;
}
.article-box{
    margin: 1rem;
}
.card-footer{
    display: flex;
    justify-content: center;
}
.search-bar{
    display: grid;
    grid-template-columns: 3.5fr 2fr 1fr;
    width: 70%;
    margin: 2rem auto;
}
.input-search{
    flex-basis: 60%;
    height: 3rem;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.checkbox-block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    margin: 1rem auto;
}
.valider-checkbox{
    width: 9rem;
    margin-left: 1rem;
    height: 2.95rem;
}

.title-card{
    height: 5rem;
    background-color: #212529;
    color: #FFFFFF;
    padding-top: 1.5rem;
}
.card-footer{
    background-color: #583968 ;
}
.vendeur-a{
    text-decoration:none;
    color : magenta ;
}

.enchere_subtitle{
    font-family: 'Caveat', cursive;
    font-size: 0.2rem;
    text-align: center;
}
.filtre{
    margin-left: 1rem;
}

/*Nouvelle vente*/
.main_vente{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.main_vente img{
    width: 100%;
}
.main_vente__pix{
    width: 20%;
}
.main_vente__form{
    width: 70%;
}
.main_vente__subTitle{
    font-family: 'Caveat', cursive;
    font-size: 2em;
    text-align: end;
}
.nouvelle-vente-btn{
    margin-top: 3rem;
}
/*Detail vente*/

.main-detail-vente img{
    width: 100%;
}
.main-detail-vente{
    margin: 0 auto;
}

#label-prop{
    font-weight: bold;
}

.detail-vente-cadre{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    background-color: rgba(122,89,137,0.55);
    color: #FFFFFF;
    width: 40%;
    border-radius: 20px;
}


/* Vente Reussie */

.vente_title{
    margin: 1rem;
    font-family: 'Caveat', cursive;
    font-size: 3rem;
    text-align: center;
}

.vente_subtitle{
    font-family: "Roboto Thin";
    font-size: 1rem;
    text-align: center;
    margin: 1rem;
}
/*Footer */
footer{
    margin-top: 5rem;
}
footer{
    background-color: #583968 !important;
    color: white;
    min-height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
}

.social-box{
    margin: 2rem auto ;
}

.social-box_header{
    margin-bottom: 0.3em;
    display: flex;
    justify-content: center;
    font-family: 'Caveat', cursive;
    font-size: 1.5em;
}

.social-box_body{
    display: flex;
    justify-content: center;
    gap: 0 20px;
}


/* Small Desktop VIEW*/
@media screen and (max-width: 1100px){
    .enchere-section {
        grid-template-columns: 1fr 1fr;
        width: 90%;
    }
    .section-inscription-form{
        width: 80%;
    }
    .inscription-form{
        width: 100%;
    }
}

/*Tablette VIEW*/
@media screen and (max-width: 890px){
    .search-bar{
        grid-template-columns: 2fr 1fr 1fr;
    }
    .nav-cont{
        display: grid!important;
        grid-template-columns: 5fr 1fr!important;
    }
    .checkbox-block{
        grid-template-columns: 1fr 1fr;
    }
    .search-bar{
        flex-direction: column;
    }
    .login-form{
        width: 50%;
        margin: 5rem auto;
    }
    .groot{
        width: 50%;
    }
    .profil-section{
        width: 70%;
    }
    .main_vente{
        flex-direction: column;
        align-items: center;
    }
    .main_vente__pix{
        width: 40%;
    }
    footer{
        grid-template-columns: 1fr 1fr;
    }
}
/*Mobile VIEW*/
@media screen and (max-width: 600px){
    .nav-cont{
        display: grid!important;
        grid-template-columns: 6fr 1fr!important;
    }
    .checkbox-block{
        grid-template-columns: 1fr;
    }
    .enchere-section {
        grid-template-columns: 1fr;
    }
    .login-form{
        width: 80%;
        margin: 3rem auto;
    }
    .groot{
        width: 80%;
    }
    .inscription-form{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .main_vente__form{
        width: 90%;
    }
    footer{
        grid-template-columns: 1fr;
    }
    .logo{
        width: 40%;
    }
    .search-bar{
        grid-template-columns: 1fr;
    }
    .valider-checkbox{
        margin-left: 0;
    }
    .filtre{
        margin-left: 0;
    }
    .detail-vente-cadre{
        width: 100%;
    }

}

/* theme */
.bg-dark{
    background-color: #583968 !important;
}

.title-card{
    background-color: #7a5989 !important;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

