@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

/* CONNECTION */
.login-form{
    width: 30%;
    margin: 5rem auto;
}
.block-rememberMe{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.forgot_pass{
    font-size: 0.7rem;
}
.groot{
    display: block;
    margin: 0 auto;
}

/* INSCRIPTION */
.row-form-btn{
    margin: 3rem auto;
}
.row-form input{
    margin-bottom: 1.3rem;
}
.inscription-form{
    width: 80%;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5rem;
}
.span-conf{
    float: right;
}

/* PROFIL */
.profil-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 40%;
}
.credit-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 40%;
    margin: 0 auto;
}
.profil-info-user, .credit-user{
    text-align: right;
}
.btn-modif{
    margin-top: 5rem;
    text-align: center;
    display: block;
}
.btn-supprimer{
    display: block;
    text-align: center;
}
.section-inscription-form{
    width: 70%;
    display: block;
}

/* ENCHERE LOG */
.enchere-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: 2rem auto;
}
.article-box{
    margin: 1rem;
}
.card-footer{
    display: flex;
    justify-content: center;
}
.search-bar{
    display: flex;
    width: 70%;
    margin: 2rem auto;
}
.input-search{
    flex-basis: 60%;
    height: 3rem;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.checkbox-block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 70%;
    margin: 0 auto;
}
.valider-checkbox{
    width: 50%;
}
.image-article{
    border-bottom : 1px solid black;
}
.title-card{
    height: 5rem;
    background-color: #212529;
    color: #FFFFFF;
    padding: 0.3rem;
}


/*Nouvelle vente*/
.main_vente{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}
.main_vente img{
    width: 100%;
}
.main_vente__pix{
    width: 20%;
}
.main_vente__form{
    width: 70%;
}
.main_vente__subTitle{
    font-family: 'Caveat', cursive;
    font-size: 2em;
    text-align: end;
}
/*Detail vente*/

.main-detail-vente img{
    width: 100%;
}

#label-prop{
    font-weight: bold;
}

/* Small Desktop VIEW*/
@media screen and (max-width: 1100px){
    .enchere-section {
        grid-template-columns: 1fr 1fr;
        width: 90%;
    }
    .section-inscription-form{
        width: 80%;
    }
    .inscription-form{
        width: 100%;
    }
}

/*Tablette VIEW*/
@media screen and (max-width: 890px){
    .checkbox-block{
        grid-template-columns: 1fr 1fr;
    }
    .search-bar{
        flex-direction: column;
    }
    .login-form{
        width: 50%;
        margin: 5rem auto;
    }
    .groot{
        width: 50%;
    }
}
/*Mobile VIEW*/
@media screen and (max-width: 600px){
    .checkbox-block{
        grid-template-columns: 1fr;
    }
    .enchere-section {
        grid-template-columns: 1fr;
    }
    .login-form{
        width: 80%;
        margin: 3rem auto;
    }
    .groot{
        width: 80%;
    }
    .inscription-form{
        grid-template-columns: 1fr;
        width: 100%;
    }
}
