

/* CONNECTION */
.login-form{
    width: 30%;
    margin: 5rem auto;
}
.block-rememberMe{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.forgot_pass{
    font-size: 0.7rem;
}
.groot{
    display: block;
    margin: 0 auto;
}

/* INSCRIPTION */
.row-form-btn{
    margin: 3rem auto;
}
.row-form input{
    margin-bottom: 1.3rem;
}
.inscription-form{
    width: 80%;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5rem;
}
.span-conf{
    float: right;
}

/* PROFIL */
.profil-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 40%;
}
.credit-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 40%;
    margin: 0 auto;
}
.profil-info-user, .credit-user{
    text-align: right;
}
.btn-modif{
    margin-top: 5rem;
    text-align: center;
    display: block;
}
.btn-supprimer{
    display: block;
    text-align: center;
}
.section-inscription-form{
    width: 70%;
    display: block;
}

/* ENCHERE LOG */
.enchere-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: 2rem auto;
}
.article-box{
    margin: 1rem;
}
.card-footer{
    display: flex;
    justify-content: center;
}
.search-bar{
    display: flex;
    width: 70%;
    margin: 2rem auto;
}
.input-search{
    flex-basis: 60%;
    height: 3rem;
}

